.container{
  width: 1300px;
  height: 100%;
  //padding: 0 20vh;
  margin: 0 auto;
  position: relative;

  //display: grid;
}
h1{
  font-weight: 300;
  padding: 30px 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.up{
  position: sticky;
  top: 0;
  background: white;
}
.down{
  overflow: auto;
  //height: 100%;
}

//.down::-webkit-scrollbar {
//  width: 10px;
//}


.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  font-size: 14px;
  margin: 0 0 10px;
  .active{
    cursor: pointer;

  }
  .active:hover{
    color: #016701;
  }

}


.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  height: 45px;
  background: #f5f5f8;
  box-shadow: inset 0 0 0 1px #e5e5e5;
  //clear: both;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  // > div{
  //  margin-right: 10px;
  //}



}

.icon{
  margin-left: 20px;
}

.xsBlock{
  width: 30px;
  padding: 0 10px;

}
.sBlock{
  min-width: 100px;
  padding-right: 10px;
}
.mBlock{
  min-width: 150px;
  text-align: left;
}
.lBlock{
  min-width: 250px;
  text-align: left;
  .label{
    margin-left: 2px;
  }
}

.delete{
  cursor: pointer;
  display: none;
}
.delete:hover{
  fill: #ce0303;
}
.listItem:hover{
  background: rgb(240, 240, 245);
  .delete{
    cursor: pointer;
    display: block;
  }
}


.changeName{
  display: flex;
  align-items: center;
}

.input{
  outline:2px ridge rgba(0, 0, 0, 0);
  border: none;
  border-radius: 2px;
  background: transparent;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Open Sans',  sans-serif;
  margin-right: 5px;
};

.read:hover{
  cursor: pointer;
  color: green;
  text-decoration: underline;
};

.edit{
  outline: 2px ridge rgba(45, 42, 42, 0.5);
  background: whitesmoke;
}

.button{
  height: 20px;
  width: 20px;
  display: none;
  cursor: pointer;
}
.button:hover {
  .svg {
    fill: green;
  }
  .close{
    cursor: pointer;
    fill: #ce0303;
  }
}



.lBlock:hover .button{
  display: flex;
}

.blockMetricContainer{
  display: flex;
  text-align: left;
}

.label{
  color: rgb(108, 108, 108);
  display: block;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
}

.unit{
  font-size: 16px;
  font-weight: 100;
}

.span{
  width: 20px;
}

.modalBackground{
  position: absolute;
  width: 100%;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: opacity 200ms ease-out;
  opacity: 1;
  cursor: wait;
 }
