@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800;1,900&display=swap');
@import-normalize;

body {
  font: 14px/22px 'Open Sans',  sans-serif;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}

.pace{
  .highcharts-plot-border{
    fill: #11a9ed;
    //z-index: 2;
  }
}

.appLoader{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  //outline: none;
  color: green;
}

header{
  padding: 0 calc((100% - 1300px)/2);
  background: #ffffff;
  height: 7vh;
  //border-bottom: 1px solid #e5e5e5;
  box-shadow: inset 0 0 0 1px #e5e5e5;
  //padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a{
    font-size: 18px;
    font-weight: 100;
    background: white;
    color: black;
    padding: calc((7vh - 26px) / 2) 20px;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    text-decoration: none;
  }
  a:hover{
    color: green;
  }
  nav a{
    height: calc(100% - 3px);
  }
  nav{
    display: flex;
    align-items: center;
    .active{
      border-color: green;
    }
    .logo{
      color: green;
      font-family: 'Poppins', sans-serif;
      font-style: italic;
      font-weight: 900;
      font-size: 26px;
      text-decoration: none;
      border: none;
      border-bottom: 3px solid rgba(255, 255, 255, 0);
      padding-left: 0;
    }
  }
  .out{
    padding: 10px;
  }

}

#root{
  > div{
    height: 90vh;
    overflow: auto;
  }
}
.content{
  margin: 0 auto;
  width: 1300px;
  height: 100%;
}

.center{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.childRef{
  height: 1px;
  opacity: 0
}

.about{
  h1{
    padding: 30px 0 0 0;
  }
  p{
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 100;
    white-space: pre-wrap
  }
  a{
    font-style: italic;
  }
}

.loading{
  cursor: wait;
}

footer{
  padding-left: calc((100% - 1300px)/2);
  background: #ffffff;
  height: 3vh;
  box-shadow: inset 0 0 0 1px #e5e5e5;
  font-weight: 300;
}

.icon{
  display: flex;
  align-items: center;
}

.viewWorkoutMaps{
  position: sticky;
  top: 0;
  z-index: 2;
}

