.page{
  width: 100%;
  height: 90vh;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1300px 1fr;

  background: #f5f5f8;

  .nextWorkout a{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: calc(50% - 20px);
    z-index: 2;
    cursor: default ;
    svg{
      transition: all 0.2s;
      fill: #9f9f9f;
    }
  }
  .nextWorkout a:hover{
    svg{
      cursor: pointer ;
      fill: green;
    }
  }
}


.container{
  width: 100%;
  display: grid;
  grid-template-columns: 740px 540px;
  gap: 20px;

  // left block with charts
  .charts{
    height: fit-content;
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #e5e5e5;
    .refreshValuesResetZoom{
      padding-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.8);
      .refreshValues{
        td{
          padding-right: 20px;
        }
        thead {
          font-weight: 300;
        }
        tbody{
          font-weight: 400;
          font-size: 24px;
        }
      }
      .resetZoomInfo{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 20px;
      }
      .resetZoom{
        border: 1px solid gray;
        border-radius: 2px;
        cursor: pointer;
        padding: 5px;
      }
      .resetZoom:hover{
        background: whitesmoke;
      }
      .info{
        position: relative;
        display: inline-block;
        .tooltip {
          padding: 10px;
          font-weight: 100;
          position: absolute;
          width: 200px;
          border-radius: 2px;
          border: 1px solid gray;
          top: 40px;
          left: -201px;
          background: white;
          text-align: start;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.5s;
        }
      }
      .info:hover{
        cursor: help;
        svg{
          fill: #016701;
        }
        .tooltip{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }


  // right block with charts
  .mapsNameStats{
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #e5e5e5;
    height: fit-content;

    h1{
      padding: 10px 0;
      font-weight: 300;
      font-size: 22px;
    }

    .maps{
      margin-top: 10px;
      .buttonStickyMaps{
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        height: 30px;
        width: 30px;
        top: 10px;
        right: 10px;
        z-index: 1000;
        background: rgba(255, 255, 255);
      }
      .buttonStickyMaps:hover{
        background: whitesmoke;

      }

    }

    .dateSportName{
      margin-bottom: 10px;
      .date{
        font-weight: 100;
      }
      .changeName{
        display: flex;
        align-items: center;
        .input{
          outline:2px ridge rgba(0, 0, 0, 0);
          border: none;
          border-radius: 2px;
          background: transparent;
          font-weight: 600;
          font-size: 22px;
          color: black;
          font-family: 'Open Sans',  sans-serif;
          margin-right: 5px;
        };

        .edit{
          outline: 2px ridge rgba(45, 42, 42, 0.5);
          background: whitesmoke;
        }

        .button{
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
        .button:hover {
          .svg {
            fill: green;
          }
          .close{
            cursor: pointer;
            fill: #ce0303;
          }
        }
      }
    }

    .mainStats{
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 10px;
      justify-items: start;
      align-items: start;
      div {
        display: grid;
        .mainStatsUnit{
          color: rgb(54, 54, 54);
          font-size: 22px;
          font-weight: 400;
        }
        .mainStatsLabel{
          font-weight: 100;
          font-size: 14px;

          margin-top: 5px;
        }
      }
    }
    .stats{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 10px;

      .statsMainLabel{
        font-weight: 400;
        font-size: 14px;
        border-bottom: 1px solid green;
        margin-bottom: 5px;
      }
      .statsBlock{
        .statsUnit{
          font-size: 16px;
          font-weight: 100;
        }
        .statsLabel{
          color: rgb(54, 54, 54);
          font-size: 10px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

    }
    .note{
      display: flex;
      gap: 10px;

      textarea{
        font: 14px/22px 'Open Sans',  sans-serif;
        border: 1px solid #ffffff;
        border-radius: 2px;
        resize: none;
        overflow: hidden;
        width: 430px;
        font-weight: 100;
        outline: none;
        margin-left: -2px;
      }
      textarea:hover{
        cursor: pointer;
      }
      textarea:focus{
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        cursor: text;
      }
      .buttons{
        display: flex;
        gap: 5px;
        .ok:hover{
          cursor: pointer;
          svg{
            fill: green;
          }
        }
        .close:hover{
          cursor: pointer;
          svg{
            fill: #ce0303;
          }
        }
      }
    }
  }
}

