.form {
  div {
    width: 500px;
    display: flex;
    //justify-content: left;
    //align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    div{
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 100;
      select{
        cursor: pointer;
        font: 14px/22px 'Open Sans',  sans-serif;
        font-weight: 100;
        padding: 5px;
        border: 1px #e5e5e5 solid;
        border-radius: 3px;
        outline: 0;

        option{
          font: 14px/22px 'Open Sans',  sans-serif;
          font-weight: 100;
          padding: 5px;
        }
      }
      select:hover{
        color: green;
        border-color: green;
      }
      .info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        position: relative;
        width: 30px;
        .tooltip {
          white-space: pre-wrap;
          padding: 10px;
          font-weight: 100;
          position: absolute;
          width: 250px;
          border-radius: 2px;
          border: 1px solid gray;
          top: -5px;
          left: 50px;
          background: white;
          text-align: start;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.5s;
        }
      }
      .info:hover {
        .tooltip{
          visibility: visible;
          opacity: 1;
        }
        svg path{
          stroke: green;
        }
      }

      input {
        font-size: 16px;
        font-weight: 400;
        border: none;
        border-radius: 3px;
        padding: 5px 15px;
        cursor: not-allowed;
        font: 14px/22px 'Open Sans',  sans-serif;
        font-weight: 100;
        background-color: grey;
        color: white;
      }
      .active{
        cursor: pointer;
        background: #009100;
      }
      .active:hover{
        background: green;
      }
    }

  }

}